.sign-in {
  background-color: lightgray;
  max-width: 2000px;
  margin: 0px auto;

  .form-block {
    background-color: white;
    border-radius: 10px;

    .center-block {
      margin: 20px auto;
    }
  }
}

